* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;

    .drum-pad-container {
        width: 670px;
        margin: auto;
        background-color: #b3b3b3;
        display: flex;

        .pad-bank {

            width: 335px;
            margin: 20px 30px;
            height: 275px;

            :hover {
                cursor: pointer;
            }


            .drum-pad {
                float: left;
                background-color: grey;
                width: 100px;
                height: 80px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 11px;
                margin-top: 9px;
                box-shadow: 3px 3px 5px;
                border-radius: 3px;





                span {

                    display: inline-block;
                }
            }

            .drum-pad-power-on:active {
                background-color: red;
                transform: scale(0.9);
            }

            .drum-pad-power-off:active {

                transform: scale(0.9);
            }



        }


        .control-wrapper {



            .control_power {

                .select {
                    width: 54px;
                    height: 25px;
                    background-color: black;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    padding: 0 4px;

                    .select-on-off {
                        width: 23px;
                        height: 19px;
                        background-color: blue;
                        align-self: center;
                    }
                }

            }


            .control_display {
                width: 200px;
                height: 30px;
                background-color: aquamarine;
                margin-bottom: 30px;


            }



        }




    }

}