* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Russo One;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.app-wrapper .drum-pad-container {
  width: 670px;
  margin: auto;
  background-color: #b3b3b3;
  display: flex;
}
.app-wrapper .drum-pad-container .pad-bank {
  width: 335px;
  margin: 20px 30px;
  height: 275px;
}
.app-wrapper .drum-pad-container .pad-bank :hover {
  cursor: pointer;
}
.app-wrapper .drum-pad-container .pad-bank .drum-pad {
  float: left;
  background-color: grey;
  width: 100px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  margin-top: 9px;
  box-shadow: 3px 3px 5px;
  border-radius: 3px;
}
.app-wrapper .drum-pad-container .pad-bank .drum-pad span {
  display: inline-block;
}
.app-wrapper .drum-pad-container .pad-bank .drum-pad-power-on:active {
  background-color: aqua;
  transform: scale(0.9);
}
.app-wrapper .drum-pad-container .pad-bank .drum-pad-power-off:active {
  transform: scale(0.9);
}
.app-wrapper .drum-pad-container .container-logo-control {
  flex: 1;
  text-align: center;
}
.app-wrapper .drum-pad-container .container-logo-control .logo-wrapper {
  font-size: 25px;
  float: right;
  margin: 10px 15px 15px 0;
}
.app-wrapper .drum-pad-container .container-logo-control .logo-wrapper span,
.app-wrapper .drum-pad-container .container-logo-control .logo-wrapper i {
  display: inline-block;
  font-style: italic;
  font-weight: 700;
}
.app-wrapper .drum-pad-container .container-logo-control .logo-wrapper span {
  margin-right: 10px;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_power {
  clear: right;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_power .select {
  width: 54px;
  height: 25px;
  background-color: black;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  padding: 0 4px;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_power .select :hover {
  cursor: pointer;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_power .select .select-on-off {
  width: 23px;
  height: 19px;
  background-color: blue;
  align-self: center;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_display {
  width: 205px;
  height: 50px;
  background-color: grey;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_volume [type=range] {
  appearance: none;
  width: 240px;
  height: 5px;
  background: black;
  cursor: pointer;
  margin-bottom: 20px;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_volume .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 25px;
  background: blue;
  cursor: pointer;
}
.app-wrapper .drum-pad-container .container-logo-control .control-wrapper .control_volume .slider::-moz-range-thumb {
  width: 8px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
